API_KEY=value
BLUESKY_APP_TOKEN=value
BLUESKY_HANDLE=value
CLOUDFLARE_API_TOKEN=value
CLOUDFLARE_ZONE_ID=value
FUEL_KEY=value
FUEL_TOKEN=value
MASTODON_TOKEN=value
OCM_API_KEY=value
OPEN_WEATHER_KEY=value
RDM_LDBWS_KEY=value
