
## Python
__pycache__/
.pyc

## MacOS
.DS_Store
.AppleDouble
.LSOverride

## Environemnt
.env
.venv
.ruby-lsp
.vscode
.claude
env/
venv/

## Jekyll
_site/

## Custom
_data/UpdatedFuelPrice.csv
_drafts
_data-sources/
admin.md
assets/videos/
run.log
_data/newsletter-draft.json
