<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Dataset",
  "name": "Cheltenham Crime Rates by Small Area and Ward",
  "description": "{{ page.description }}",
  "url": "{{ page.url | absolute_url }}",
  "dateModified": "{{ site.data['crime-map'].generated_at }}",
  "isAccessibleForFree": true,
  "license": "https://www.nationalarchives.gov.uk/doc/open-government-licence/",
  "creator": { "@type": "Organization", "name": "{{ site.title }}", "url": "{{ site.url }}" },
  "spatialCoverage": { "@type": "Place", "name": "Cheltenham, Gloucestershire, UK" },
  "temporalCoverage": "{{ site.data['crime-map'].windows.first.first_month }}/{{ site.data['crime-map'].windows.last.last_month }}",
  "variableMeasured": ["Crimes", "Residents", "Crimes per 1,000 residents", "Lower Layer Super Output Area", "Ward"]
}
</script>
