<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Dataset",
  "name": "Dental Practices in Cheltenham",
  "description": "Dental practices listed in the NHS directory in the GL50 to GL54 postcodes in and around Cheltenham, with addresses and locations.",
  "url": "{{ page.url | absolute_url }}",
  "dateModified": "{{ site.data['dentists'].generated_at }}",
  "isAccessibleForFree": true,
  "license": "https://www.nationalarchives.gov.uk/doc/open-government-licence/",
  "creator": { "@type": "Organization", "name": "{{ site.title }}", "url": "{{ site.url }}" },
  "spatialCoverage": { "@type": "Place", "name": "Cheltenham, Gloucestershire, UK" },
  "variableMeasured": ["Practice name", "Address", "Postcode", "Location"]
}
</script>
