<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Dataset",
  "name": "{{ page.title }}",
  "description": "{{ page.description }}",
  "url": "{{ page.url | absolute_url }}",
  "dateModified": "{{ site.data['housing-supply'].generated_at }}",
  "isAccessibleForFree": true,
  "license": "https://www.nationalarchives.gov.uk/doc/open-government-licence/",
  "creator": { "@type": "Organization", "name": "{{ site.title }}", "url": "{{ site.url }}" },
  "spatialCoverage": { "@type": "Place", "name": "Cheltenham, Gloucestershire, UK" },
  "variableMeasured": ["Net additional dwellings", "Student communal accommodation net change", "Other communal accommodation net change"]
}
</script>
