<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Dataset",
  "name": "Cheltenham General Election Results Since 1918",
  "description": "Every general election in Cheltenham since 1918, with the winning party, electorate, turnout and votes for the Conservatives, Liberals and Liberal Democrats, Labour and other candidates, from the House of Commons Library.",
  "url": "{{ page.url | absolute_url }}",
  "dateModified": "{{ site.data['election-results'].generated_at }}",
  "temporalCoverage": "1918/2024",
  "isAccessibleForFree": true,
  "license": "https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/",
  "creator": { "@type": "Organization", "name": "{{ site.title }}", "url": "{{ site.url }}" },
  "spatialCoverage": { "@type": "Place", "name": "Cheltenham, Gloucestershire, UK" },
  "variableMeasured": ["Election date", "Winning party", "Electorate", "Turnout", "Conservative votes", "Liberal votes", "Labour votes", "Other votes"]
}
</script>
