<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Dataset",
  "name": "Cheltenham Play Parks",
  "description": "Children's play parks and playgrounds within 10 miles of Cheltenham town centre, with distance from the centre, sourced from OpenStreetMap.",
  "url": "{{ page.url | absolute_url }}",
  "dateModified": "{{ site.data['play-areas'].generated_at }}",
  "isAccessibleForFree": true,
  "license": "https://www.openstreetmap.org/copyright",
  "creator": { "@type": "Organization", "name": "{{ site.title }}", "url": "{{ site.url }}" },
  "spatialCoverage": { "@type": "Place", "name": "Cheltenham, Gloucestershire, UK" },
  "variableMeasured": ["Name", "Distance from town centre", "Operator", "Surface", "Location"]
}
</script>
