<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    { "@type": "Question", "name": "Can I recycle batteries?", "acceptedAnswer": {"@type": "Answer", "text": "Yes, many supermarkets and shops selling batteries have bins for recycling, including Lidl on Tewkesbury Road and Asda in Hatherley."} },
    { "@type": "Question", "name": "Can I recycle coffee pods?", "acceptedAnswer": {"@type": "Answer", "text": "Yes, these can be put in specific podback bags and collected kerbside."} },
    { "@type": "Question", "name": "Can I recycle a Tetra Pak carton?", "acceptedAnswer": {"@type": "Answer", "text": "Yes, as of 2026 you can place Tetra Pak cartons in with your plastics and can recycling box."} },
    { "@type": "Question", "name": "Can I recycle packs for contact lenses?", "acceptedAnswer": {"@type": "Answer", "text": "Yes, these can be recycled at Boots Opticians in the town centre."} },
    { "@type": "Question", "name": "Can I recycle empty beauty products?", "acceptedAnswer": {"@type": "Answer", "text": "Yes, if you use the Boots Advantage Card you can take a photo in the app and collect points for each item recycled using their scan2recycle scheme."} },
    { "@type": "Question", "name": "Can I recycle medication blister packs?", "acceptedAnswer": {"@type": "Answer", "text": "Yes, you can recycle these at both Boots and Superdrug."} },
    { "@type": "Question", "name": "Can I recycle thin plastics?", "acceptedAnswer": {"@type": "Answer", "text": "Yes, thin/film plastics often found on ready meals and crisp packets can be bagged up and recycled at some major supermarkets such as Tesco on Colletts Drive and Asda in Hatherley."} },
    { "@type": "Question", "name": "Can I recycle VHS tapes?", "acceptedAnswer": {"@type": "Answer", "text": "Yes, these can be taken to The Butterfly Garden, Bamfurlong Lane, Cheltenham, to be recycled."} },
    { "@type": "Question", "name": "What do I do if a recycling bank is full?", "acceptedAnswer": {"@type": "Answer", "text": "If a bank is full and needs emptying, let Cheltenham Borough Council know on 01242 262626."} }
  ]
}
</script>
