<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Dataset",
  "name": "Cheltenham Roadworks",
  "description": "Planned roadworks and closures on the motorways and major A roads within 10 miles of Cheltenham, with dates, expected delay and location, from National Highways.",
  "url": "{{ page.url | absolute_url }}",
  "dateModified": "{{ site.data['roadworks'].generated_at }}",
  "isAccessibleForFree": true,
  "license": "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/",
  "creator": { "@type": "Organization", "name": "{{ site.title }}", "url": "{{ site.url }}" },
  "spatialCoverage": { "@type": "Place", "name": "Cheltenham, Gloucestershire, UK" },
  "variableMeasured": ["Roads", "Description of works", "Start date", "End date", "Expected delay", "Distance from town centre", "Location"]
}
</script>
