<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Dataset",
  "name": "Cheltenham Primary School Catchment Areas Map",
  "description": "A straight-line \"nearest school\" map showing which primary school is closest to each part of Cheltenham, calculated from DfE school locations.",
  "url": "{{ page.url | absolute_url }}",
  "isAccessibleForFree": true,
  "license": "https://www.nationalarchives.gov.uk/doc/open-government-licence/",
  "creator": { "@type": "Organization", "name": "{{ site.title }}", "url": "{{ site.url }}" },
  "spatialCoverage": { "@type": "Place", "name": "Cheltenham, Gloucestershire, UK" },
  "variableMeasured": ["School name", "Nearest-school zone", "Location"]
}
</script>
