<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollegeOrUniversity",
  "name": "University of Gloucestershire",
  "url": "https://www.glos.ac.uk/",
  "sameAs": ["https://www.ucas.com/explore/unis/aa1a1601/university-of-gloucestershire"],
  "location": [
    {% for loc in site.data.university.locations %}
    {
      "@type": "Place",
      "name": "{{ loc.name }}",
      "address": { "@type": "PostalAddress", "streetAddress": "{{ loc.address }}", "postalCode": "{{ loc.postcode }}", "addressCountry": "GB" },
      "geo": { "@type": "GeoCoordinates", "latitude": {{ loc.latitude }}, "longitude": {{ loc.longitude }} }
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
