{% include header.html %}
{% assign items = site.posts %}

<div class="{{page.type}} herobar">
    <div class="{{page.type}}">
        <header class="{{page.type}} header">
            <h1>{{page.title}}</h1>
            <p>{{page.description}}</p>
            <ul>
                <li><b>{{ items | size }}</b> total announcements.</li>
                <li><a href="/feeds/main.xml">Subscribe via our feed/rss →</a></li>
            </ul>
        </header>

        <h2>Recent Announcements</h2>

        <ul class="latest-list plain-list">
            {% for post in items %}
            <li class="latest-item">
                <a href="/news" class="latest-pill latest-pill-announcements">Announcements</a>
                <a href="{{ post.url }}" class="latest-title">{{ post.title }}</a>
                <span class="latest-date">{{ post.content | number_of_words }} words on
                    {{ post.date | date: "%-d %B %Y" }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% include footer.html %}