{% include header.html %}
{% assign items = site.navigation_header | where: "group", page.group %}
<div class="{{page.type}} herobar">
    <div class="{{page.type}}">
        <header class="{{page.type}} header">
            <h1>{{page.title}}</h1>
            <p>{{page.description}}</p>
            <ul>
                <li><a href="/">&lAarr; Back to Home</a></li>
            </ul>
        </header>

        {{ content }}

        <ul>
            {% for item in items %}
            <li><a href="{{ item.link }}">{{ item.name }}</a> &mdash; {{ item.description }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% include footer.html %}
