{% include header.html %}
<div class="{{page.type}} herobar">
    <div class="{{page.type}}">
        <header class="{{page.type}} header">
            <h1>{{page.title}}</h1>
            <p>{{page.description}}</p>
            <ul>
                <li><a href="/cheltenham-sewage-overflows">Sewage Overflow Status</a></li>
                <li><a href="/cheltenham-water-quality">River Water Quality</a></li>
            </ul>
        </header>

        {% include sponsor.html %}

        {{ content }}

    </div>
</div>
{% include footer.html %}
