{% include header.html %}

<div class="{{page.type}} herobar">
    <div class="{{page.type}}">
        <header class="{{page.type}} header">
            <h1>{{page.title}}</h1>
            <p>{{page.description}}</p>
            <ul>
                <li><a href="/cheltenham-house-prices">&larr; Back to summary & charts</a></li>
                {% for y in page.ayears %}
                <li><a href="/cheltenham-house-prices-{{ y }}">{{ y }} &rarr;</a></li>
                {% endfor %}
            </ul>
        </header>

        {% include sponsor.html %}

        {{ content }}

        <div class="land-registry-widget">
            <div class="scroll">
                <table id="land-registry-table" class="land-registry-table" data-sortable>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Address</th>
                            <th class="postcode">Postcode</th>
                            <th>Type</th>
                            <th class="number">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in site.data["cheltenham-house-prices"].transactions %}
                        {% assign txn_year = transaction.date | slice: 0, 4 %}
                        {% if transaction.amount and txn_year == page["pyear"] %}
                        <tr>
                            <td class="date" data-value="{{ transaction.date }}">{{ transaction.date }}</td>
                            <td>{{ transaction.saon }} {{ transaction.paon }} {{ transaction.street }}</td>
                            <td class="postcode">{{ transaction.postcode }}</td>
                            <td>{{ transaction.property_type | default: "Other" }}</td>
                            <td class="number" data-value="{{ transaction.amount }}">{{ transaction.display_amount }}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <p class="land-registry-attribution"><small>Contains HM Land Registry data © Crown copyright
                and database right. Licensed under the <a
                    href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open
                    Government Licence v3.0</a>.</small></p>

    </div>
</div>

{% include footer.html %}